.portraitDiv{
    background: url(https://images.unsplash.com/photo-1532926381893-7542290edf1d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80);
    width: 100%;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.portraitDiv > h3{
    font-size: 2vw;
    color: white;
}
.portraitDiv > h2{
    font-size: 4vw;
    color: white;
}
@media (max-width: 1500px) {
    .portraitDiv > h3{
        font-size: 2.5vw;
    }
    .portraitDiv > h2{
        font-size: 4.5vw;
    }
}
@media (max-width: 900px) {
    .portraitDiv > h3{
        font-size: 5vw;
    }
    .portraitDiv > h2{
        font-size: 8vw;
    }
}