.portraitDiv{
    background-image:
    url(https://images.unsplash.com/photo-1591343395082-e120087004b4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDl8fGNvbnRhY3QlMjB1cyUyMHNwYXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60);
    width: 100%;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.portraitDiv > h3{
    font-size: 2vw;
    color: white;
}
.portraitDiv > h2{
    font-size: 4vw;
    color: white;
}
@media (max-width: 1500px) {
    .portraitDiv > h3{
        font-size: 2.5vw;
    }
    .portraitDiv > h2{
        font-size: 4.5vw;
    }
}
@media (max-width: 900px) {
    .portraitDiv > h3{
        font-size: 5vw;
    }
    .portraitDiv > h2{
        font-size: 8vw;
    }
}
.contactContainer{
    height: 57vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 0.2em;
}
.contactContainer > div > h3{
 font-size: 28px;
 font-weight: bold;
}
.contactContainer > div > h4{
    font-size: 20px;
    font-weight: 200;
   }
.contactContainer > div > p{
    font-size: 16px;
    color: black;
    font-weight: bolder;
   }
.contactContainer > div > hr{
    margin-bottom: 10px;
   }
 @media (max-width: 1300px) {
.contactContainer{
    flex-wrap: wrap;
    height: auto;
    padding: 30px 10px;
    }

.contactContainer > div > iframe{
    height:50vh;
    width:50vw;
    padding: 10px;
    min-width: 65vw;
    }
}
        