@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

a{
  font-family: 'Montserrat','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.15vw;
  text-decoration: none;
  font-weight: 500;
  color: white;
  padding: 0.521vw 1.302vw;
}
*{
    font-family: 'Montserrat','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
header{
    position: absolute;
    background: rgba(123, 122, 121, 0.8);
    height: 13vh;
    width: 100%;
    display: flex;
    padding: 0px 2.5vw ;
    justify-content: space-evenly;
    align-items: center;
}
.actualPage{
  color: #BF4B4B;
  background: #FFFFFF;
  border-radius: 100px;
  padding: 10px 25px;

}
body::-webkit-scrollbar {
  width: 0.5vw;
}
 
body::-webkit-scrollbar-track {
  background-color: rgba(32, 41, 30 , 1);
}
 
body::-webkit-scrollbar-thumb {
  border-radius: 5.208vw;
  background-image: linear-gradient(180deg, rgba(123, 122, 121, 0.8) 0%, #445840 99%);
}