.landingBg{
  background-image: url("https://cdn.pixabay.com/photo/2018/11/11/09/30/dark-green-plant-3808354_1280.jpg");
  background-size: 100% 100%;
}
.landingSection{
  background-color: rgba(4, 1, 1, 0.32);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  letter-spacing: 0.2em;
}
.landingSection > a { 
  color: white;
  text-decoration: none;
}
.landingSection > h3 {
  margin-top: 220px;
  font-size: 22px;
  margin-bottom: 20px;
}
.landingSection > h2 {
  font-size: 78px;
}
.landingSection > p {
  font-size: 22px;
  margin: 50px 420px;
}
.landingSection > button {
  margin-top: 20px;
  width: 211.51px;
  height: 55px;
  left: 610.25px;
  top: 609.53px;
  background: rgba(196, 196, 196, 0.35);
  border: 3px solid #FFFFFF;
  border-radius: 1000px;
  color: #FFFFFF;
  font-size: 24px;
}
.arrowbounce {
  padding-top: 80px;
  width: 40px;
  color: #FFFFFF;
  left: 10%;
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
