.UserContainer{
width: 100%;
height: 100vh;
display: flex;
justify-content: space-around;
align-items: center;
background: url(https://i.ibb.co/vJm6jJw/logindarkandyimage-1.jpg);
background-size: cover;
}
.UserInfoContainer{
    margin-top: 13vh;
    height: 87vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    justify-content: center;
    align-items: center;
    padding-right: 8vw;
}
.UserInfoContainer:first-child{
    display: flex;
    justify-content: center;
}
@media (max-width: 1050px) {
    .UserContainer{
        width: 100%;
        height: 120vh;
        }
    .UserInfoContainer{
        height: 100%;
        margin-top: 0vh;
       flex-direction: column;
       padding: 12vw 4vw;
       padding-bottom: 4vw;
    }
}
@media (max-width: 414px) {
    .UserContainer{
        width: 100%;
        height: 135vh;
        }
    .UserInfoContainer{
       flex-direction: column;
       padding: 20vw 4vw;
       padding-bottom: 4vw;
    }
}
@media (max-width: 360px) {
    .UserContainer{
        height: 155vh;
        }
}


