.portraitDiv{
    background: url(https://i.ibb.co/VHYJYfP/image-1.png);
    width: 100%;
    height: 30vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.portraitDiv > h3{
    font-size: 2vw;
    color: white;
}
.portraitDiv > h2{
    text-align: center;
    font-size: 4vw;
    color: white;
}
.ourServices{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    min-height: 57vh;
    max-height: 400vh;
    letter-spacing: 0.2em;
  }
@media (max-width: 1500px) {
    .portraitDiv > h3{
        font-size: 2.5vw;
    }
    .portraitDiv > h2{
        font-size: 4.5vw;
    }
}
@media (max-width: 900px) {
    .portraitDiv > h3{
        font-size: 5vw;
    }
    .portraitDiv > h2{
        font-size: 8vw;
    }
}